Package: p7zip-full
Source: p7zip
Version: 9.04~dfsg.1-1
Architecture: i386
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Mohammed Adnène Trojette <adn+deb@diwi.org>
Installed-Size: 3400
Depends: libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1)
Suggests: p7zip-rar
Conflicts: p7zip (<< 4.39-1)
Replaces: p7zip (<< 4.39-1)
Section: utils
Priority: optional
Homepage: http://p7zip.sourceforge.net/
Description: 7z and 7za file archivers with high compression ratio
 p7zip is the Unix port of 7-Zip, a file archiver that archives with
 very high compression ratios.
 .
 p7zip-full provides:
  - /usr/bin/7za
     a standalone version of the 7-zip tool that handles 7z archives
     (implementation of the LZMA compression algorithm) and some other
     formats.
  - /usr/bin/7z
     not only does it handle 7z but also ZIP, Zip64, CAB, RAR, ARJ,
     GZIP, BZIP2, TAR, CPIO, RPM, ISO and DEB archives. 7z compression
     is 30-50% better than ZIP compression.
 .
 p7zip provides 7zr, a light version of 7za, and p7zip a gzip like
 wrapper around 7zr.
