/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

$body_background_color: #eee;
$main_font_color: #222;

@font-face{
  font-family: tango;
  src: url(tango.ttf);
}

body{
  background-image: url(bg.jpg);
  margin: 0;
}

body, p, ol, ul, td {
  font-family: verdana, arial, sans-serif;
  font-size:   13px;
  line-height: 18px;
  color: $main_font_color;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
  color: $main_font_color;
}

div.field, div.actions {
  margin-bottom: 10px;
}

#title{
  font-family: tango;
  background-image: url(black_bg.jpg);
  color: #eee;
  font-size: 80px;
  line-height: 80px;
  padding: 40px 40px 20px;
}

#content{
  padding: 45px 40px;
}

.notice {
  color: #bd901f;
  font-weight: bold;
}

.alert {
  color: #971c0b;
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
