/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

$header_wrp_bg_color: #8AB29F;
$header_bottom_bg_color: #F2E6CE;
$content_wrp_bg_color: #593325;
$main_font_color: #F2E6CE;

@font-face{
  font-family: tango;
  src: url(tango.ttf) format("truetype");
}

html{
  height: 100%;
}


body{
  background-image: url('black_pattern.png');
  height: 100%;
  margin: 0;
  font-family: tahoma, helvetica, sans-serif;
}

#header_wrp{
  #header{
    background-image: url('green_top_pattern.png');
    height: 85px;
  }
  #header_bottom{
    height: 30px;
    background-image: url('pastel_pattern.png');
    box-shadow: black 0 0 10px;
  }
  #title{
    margin: 80px auto 0;
    display: block;
  }
}


#content_wrp{
  #content{
    width: 950px;
    margin: auto;
    padding: 45px 40px;
  }
}

#bottom{
  height: 20px;
  width: 100%;
  background-color: #222;
  position: fixed;
  bottom: 0;
  display: none;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $main_font_color;
}

div.field, div.actions {
  margin-bottom: 10px;
}


.notice {
  color: #444;
  padding: 6px;
  display: inline-block;
  background-color: #3EF;
  font-size: 14px;
}

.alert {
  color: #971c0b;
  font-weight: bold;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}




.noise{
  background: transparent url(noise.png);
}