/* 
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

.subtitle {
  font-family: monospace;
  font-size: 15px;
  font-weight: bold;
  line-height: 2em;
  a{
    text-decoration: none;
  }
  a:hover{
    padding: 3px;
  }
}

#subtitles_search{
  margin-bottom: 20px;
  [type=search]{
    font-family: sans;
    display: inline-block;
    float: left;
    height: 40px;
    width: 18em;
    font-size: 22px;
    margin: 0;
    padding: 0 0 0 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #AAA;
    -webkit-appearance: none;
    -moz-box-sizing: border-box;
  }
  [type=submit]{
    background-image: url(black_bg.jpg);
    font-size: 16px;
    font-weight: bold;
    color: #eee;
    height: 40px;
    padding: 0 15px;
    margin: 0;
    border: 0;
    border-radius: 0 12px 12px 0; 
  }

}

#subtitles{
  float: left;
}
