/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
  You can use Sass (SCSS) here: http://sass-lang.com/
*/

#subtitles{
  margin-bottom: 150px;
}

#transparent_gradient_bottom{
  background-image: url(blue_bg_gradient.png);
  bottom: 0px;
  display: none;
  height: 120px;
  position: fixed;
  width: 700px;
}

.subtitle {
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 1em;
  position: relative;
  a{
    outline: none;
    padding: 0 0 3px;
    text-decoration: none;
    &:hover {
        background-color: rgba(3,3,3,0.2);
    }
  }

  .info{
    display: none;
    position: absolute;
    top: 21px;
    z-index: 1;
    padding: 10px;
    background-color: rgba(3,3,3,0.85);
    table{
      td{
        color: #eee;
        font-size: 12px;
        font-weight: normal;
      }
      .first_column{
        width: 90px;
      }
    }
  }
}

#subtitles_search{
  margin-bottom: 30px;
  form{
    height: 40px;
    [type=text]{
      border-color: #AAA;
      border-style: solid;
      border-width: 1px;
      display: inline-block;
      float: left;
      font-size: 22px;
      -webkit-text-stroke: 1px transparent; /* aparencia mais suave (como um anti-alias) */
      height: 40px;
      margin: 0;
      -moz-box-sizing: border-box;
      padding: 0 0 0 20px;
      -webkit-appearance: none;
      width: 25em;
      border-radius: 20px;
      outline: none;
    }
    [type=submit]{
      background: transparent url(mg_glass.png) no-repeat;
      height: 30px;
      width: 29px;
      border: 0;
      cursor: pointer;
      position: relative;
      top: 4px;
      left: -50px;
      outline: none;
    }
  }
  
  #search_terms{
    display: block;
    margin: 5px 0 0 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 520px; // width of search field
    a{
      font-size: 12px;
      margin-left: 5px;
      &:first-child{
        margin-left: 0px;
      }
    }
  }

}


#download_bt {
  background-color: #b52c1c;
  border-radius: 10px 0 0 0;
  bottom: 20px;
  box-shadow: black 0px -10px 25px -9px inset;
  color: #eee;
  cursor: pointer;
  display: none;
  font-size: 20px;
  padding: 8px 0 10px 0;
  position: fixed;
  text-decoration: none;
  width: 90px;
  text-align: center;
  -moz-box-sizing: border-box;
}

#unselect_all{
  font-size: 16px;
  color: #eee;
  height: 24px;
  padding: 6px 0;
  display: none;
  position: fixed;
  left: 90px + 40px;
  bottom: 20px;
  background-color: #333;
  border-radius: 0 10px 0 0;
  box-shadow: black 0px -10px 25px -9px inset;
  cursor: pointer;
  width: 20px;
  text-align: center;
}

