<!DOCTYPE html>
<html>
  <head>
    <title> - Quick Subs -  legendas assim... vapt-vupt</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <meta name="author" content="theo_b"/>
    <meta name="contact" content="theodrums_AT_gmail.com"/>
    <meta name="description" content="Acesso rápido e fácil à legendas para filmes, séries e documentários."/>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-23707194-1']);
      _gaq.push(['_trackPageview']);

      (function() {
       var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
       ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
       })();
    </script>
  </head>

  <body>
     <div id="header">
       <div id="title"></div>
     </div>


     <div id="content">
       <%= yield %>
     </div>

     <div id="bottom"></div>

  </body>
</html>
